<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <!--使用util命名空间可以让配置复用。
    使用util命名空间的前提是：在spring配置文件头部添加配置信息。如下：
    xmlns:util="http://www.springframework.org/schema/util"
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd-->
    <util:properties id="props">
        <prop key="driver">com.mysql.cj.jdbc.Driver</prop>
        <prop key="url">jdbc:mysql://localhost:3306/ssm</prop>
        <prop key="username">root</prop>
        <prop key="password">root</prop>
    </util:properties>
    <bean id="m1" class="com.wang.spring6.bean.MyDataSource1">
        <property name="properties" ref="props"></property>
    </bean>
    <bean id="m2" class="com.wang.spring6.bean.MyDataSource2">
        <property name="properties" ref="props"></property>
    </bean>

</beans>