<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.mybatis.mapper.CarMapper">

    <select id="selectByMultiCondition" resultType="com.wang.mybatis.pojo.Car">
        <!--1=1防止条件缺少时顺序报错问题-->
        select * from t_car where 1=1

        <!--
        1.if标签中test属性是必须的。
        2.if标签中test属性的值是false或者true。
        3．如果test是true，则if标签中的sq语句就会拼接。反之，则不会拼接。
        4. test属性中可以使用的是:
        当使用了@Param注解，那么test中要出现的是CParam注解指定的参数名。
        @Panam("brand")，那么这里只能使用brand
        当使用了POJO，那么test中出现的是POJO类的属性名。
        5．在mybatis的动态SQL当中，不能使用&&，只能使用and。
        -->
        <if test="brand!=null and brand!=''">
            and brand like "%"#{brand}"%"
        </if>
        <if test="guidePrice!=null and guidePrice!=''">
            and guide_price > #{guidePrice}
        </if>
        <if test="carType!=null and carType!=''">
            and car_type = #{carType}
        </if>

    </select>
    <select id="selectByMultiConditionWithWhere" resultType="com.wang.mybatis.pojo.Car">
        select * from t_car
        <where>
            <if test="brand!=null and brand!=''">
                and brand like "%"#{brand}"%"
            </if>
            <if test="guidePrice!=null and guidePrice!=''">
                and guide_price > #{guidePrice}
            </if>
            <if test="carType!=null and carType!=''">
                and car_type = #{carType}
            </if>
        </where>

    </select>
    <select id="selectByMultiConditionWithTrim" resultType="com.wang.mybatis.pojo.Car">
        select * from t_car
        <!--
        prefix:加前缀
        suffix:加后缀
        prefixOverrides:删除前缀
        suffixOverrides:删除后缀-->
        <!--prefix="where"是在trim标签所有内容的前面添加where-->
        <!--suffixOverrides="and | or”把trim标签中内容的后缀and或or去掉-->

        <trim prefix="where" suffixOverrides="and | or">
            <if test="brand!=null and brand!=''">
                brand like "%"#{brand}"%" and
            </if>
            <if test="guidePrice!=null and guidePrice!=''">
                guide_price > #{guidePrice} and
            </if>
            <if test="carType!=null and carType!=''">
                car_type = #{carType} and
            </if>
        </trim>
    </select>

    <update id="updateByMultiConditionWithSet">
        update t_car
        <!--set标签可以去除末尾的逗号，当内部有if被执行的时候会自动在前面加上set标签-->
        <set>
            <if test="brand!=null and brand!=''">
                brand=#{brand},
            </if>
            <if test="guidePrice!=null">
                guide_price=#{guidePrice},
            </if>
            <if test="carType!=null and carType!=''">
                car_type=#{carType},
            </if>
            <if test="carNum!=null and carNum!=''">
                car_num=#{carNum},
            </if>
            <if test="produceTime!=null">
                produce_time=#{produceTime},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="selectByMultiConditionWithChoose" resultType="com.wang.mybatis.pojo.Car">
        select * from t_car
        <where>
            <choose>
                <when test="brand!=null and brand!=''">
                    brand like "%"#{brand}"%"
                </when>
                <when test="guidePrice!=null and guidePrice!=''">
                    guide_price >#{guidePrice}
                </when>
                <otherwise>
                    car_type =#{carType}
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="selectByIds" resultType="com.wang.mybatis.pojo.Car">
        select * from t_car
        where id in
        <foreach collection="ids" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
    </select>

    <delete id="deleteByIds">
        delete from t_car
        where id in
        <foreach collection="ids" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>