<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.mybatis.mapper.ClazzMapper">

    <resultMap id="clazzResultMap" type="Clazz">
        <id column="cid" property="cid"></id>
        <result column="cname" property="cname"></result>
        <!--一对多，这里是collection. collection是集合的意思。-->
        <!--ofType 属性用来指定集合当中的元素类型。-->
        <collection property="students" ofType="Student">
            <id column="sid" property="sid"></id>
            <result column="sname" property="sname"></result>
        </collection>


    </resultMap>


    <select id="selectClassStep" resultType="Clazz">
        select * from t_clazz where cid=#{cid}
    </select>
    <select id="selectByCidCollection" resultMap="clazzResultMap">
        select s.sid,s.sname,c.cid,c.cname from t_clazz c left join t_stu s on c.cid=s.cid where c.cid=#{cid}
    </select>
</mapper>