<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置Bean后处理器。这个后处理器将作用于当前配置文件中所有的bean。-->
    <bean class="com.wang.spring6.bean.LogBeanPostProcessor"/>

    <bean class="com.wang.spring6.bean.User" id="userBean" init-method="initBean" destroy-method="destoryBean">
        <property name="name" value="wsz"></property>
    </bean>
</beans>