<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.wang.bank"/>

    <!--
        声明式事务之注解实现方式
        第一步：在spring配置文件中配置事务管理器。
        第二步：在spring配置文件中引入tx命名空间。
            xmlns:tx="http://www.springframework.org/schema/tx"
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        第三步：在spring配置文件中配置“事务注解驱动器”，开始注解的方式控制事务。
        第四步：在service类上或方法上添加@Transactional注解


    -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/spring6"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--配置事务管理器-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--开启事务注解驱动器开启事务注解。告诉Spring框架，采用注解的方式去控制事务。-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>