<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.mybatis.mapper.CarMapper">

    <resultMap id="carMap" type="com.wang.mybatis.pojo.Car">
        <id property="id" column="id"/>
        <result property="carNum" column="car_num"/>
        <result property="brand" column="brand"/>
        <result property="guidePrice" column="guide_price"/>
        <result property="produceTime" column="produce_time"/>
        <result property="carType" column="car_type"/>
    </resultMap>
    <delete id="deleteBatch">
        delete
        from t_car
        where id in (${ids})
    </delete>


    <select id="getCarByType" resultMap="carMap">
        select *
        from t_car
        where car_type = ${car_type}
    </select>

    <select id="getAllByAscOrDesc" resultMap="carMap">
        select *
        from t_car
        order by produce_time ${ascOrDesc}
    </select>
    <select id="selectByLike" resultMap="carMap">
        select *
        from t_car
        where brand like
              <!--'%${brand}%'-->
              <!--'%#{brand}%'  不可 因为放在单引号内只是字符串❓-->
              <!--concat('%',#{brand},'%')-->
              <!--concat('%','${brand}%','%')-->
              "%"#{brand}"%"

    </select>


</mapper>