<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <!--type:指定给哪个类型起别名alias:指定别名
    注意:别名不缺分大小写。
    alias属性是可以省略的。有默认的别名。
    com.wang.mybatis.pojo.Car 省略后就是car Car cAr
    -->

    <typeAliases>
        <!--        <typeAlias type="com.wang.mybatis.pojo.Car" alias="aa"></typeAlias>-->
        <!--省略后就是car Car cAr-->
        <typeAlias type="com.wang.mybatis.pojo.Car"></typeAlias>

        <!--将这个包下的所有的类全部自动起别名。别名就是类简名。不区分大小写。-->
        <package name="com.wang.mybatis.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<mapper resource="CarMapper.xml"/>-->
        <!--注意:也就是说:如果你采用这种方式，那么你必须保证CarMapper .xml文件和CarMapper接口必须在同一个目录下。并且名字一致-->
        <!--<mapper class="com.wang.mybatis.mapper.CarMapper"/>-->
        <!--前提是xml文件必须和接口放在一起，并且名字一致-->
        <package name="com.wang.mybatis.mapper"/>
    </mappers>
</configuration>